/* h4 {
    color: #1111;
} */


/* h1 {
    color: red
}



#B {
    color: green;
}

#D {
    color: blue;
} */



/* #C {
    color: gray;
}

#E {
    color: gray;
} */
/* 
.one {
    color: gray;
    background-color: yellow;
}

#A {
    color: salmon;
    background-color: pink;
} */

/* div {
    background-color: red;
    height: 100px;
    width: 100px;
} */


/* h1 {
    background-color: yellow;
    width: 100px;
    height: 100px;
} */
/* 

#A {
    background-color: red;
    height: 500px;
    width: 500px;
}

#B {
    background-color: green;
    height: 250px;
    width: 250px;
}

#D {
    background-color: yellow;
    height: 250px;
    width: 250px;
}

#C {
    background-color: blue;
    height: 125px;
    width: 125px;
} */