/* .box { */
/* height: 100px; */
/* width: 100px; */
/* background-color: red; */
/* background: linear-gradient(to bottom, #ff930f,#fff95b); */
/* } */

/* 
h1 {
    background-color: red;
    font-size: 100px;
    color: red;
}
 */


/* body { */
/* background-color: red; */
/* background-image: url('https://plus.unsplash.com/premium_photo-1753983551670-da8e9979654f?q=80&w=686&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    background-repeat: no-repeat;
    background-size: cover; */

/* background-position: center; */
/* } */


/*  
.box {
    height: 100vh;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.box1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1756879545781-7b8265e2be45?q=80&w=1112&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
} */
/* 
.box2 {
    background-image: url("https://images.unsplash.com/photo-1788998765211-acd56d4ce4fa?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}

.box3 {
    background-image: url("https://images.unsplash.com/photo-1787765977827-44dcefaefdaf?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
 

}

.box4 {
    background-image: url("https://images.unsplash.com/photo-1787486432521-053eb11f8ae8?q=80&w=1155&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}

.box5 {
    background-image: url("https://images.unsplash.com/photo-1788328916107-4d0e4bf134c8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}  */


/* .box { */
/* height: 200px;
    width: 200px; */

/* border: 2px dotted black; */
/* border: 2px dashed black; */
/* border: 2px solid black; */

/* border-radius: 50%; */
/* } */



/* h1 {
    font-size: 100px;
    background-image: url("https://images.unsplash.com/photo-1787486432905-60760869fb1f?q=80&w=752&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-clip: text;
    color: transparent;
} */