h1 {
    color: red;
    font-family: "Playfair";
    font-size: 20px;
    text-align: center;
    width: 200px;
    background-color: yellow;


}

p {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 5px 3px 10px rgb(10, 123, 183);
}

a {
    color: saddlebrown;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    font-family: "Special Gothic Condensed One";
    /* letter-spacing: 5ch; */
    /* line-height: 720px; */
}