*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
}


h1 {
    /* background-color: red; */
    background-image: url("./img.jpg");
    background-position: center;
    color: red;
    color: transparent;
    background-clip: text;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 140px;
}

h2 {
    text-align: center;
    font-size: 140px;
    background: linear-gradient(to left, red, rgb(68, 127, 230), yellow, green, pink);
    background-clip: text;
    color: transparent;
}

.bg {
    height: 100vh;
    width: 100%;
    border-radius: 50%;
    /* clip-path: circle(50% 20% at 50% 50%); */
    /* background-clip: circle(50%); */
    background-color: red;
}

.ball {
    background-image: url("./img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border: 20px solid white;
    border-radius: 50%;
}