* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #002141;
    height: 35px;
    overflow: hidden;
}

header nav a {
    text-decoration: none;
    color: whitesmoke;
}

header nav li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

.logo .l {

    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
    background-image: url("A.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo .name {
    float: left;
}

.main {
    background-color: #F7F7F7;
}

.text {
    font-size: 45px;
    position: relative;
    left: 150px;
    top: 100px;
}

.main-main {
    padding: 10px;
    height: 400px;
    width: 250px;
    background-color: #002141;
    border-radius: 12px;
    position: absolute;
    right: 150px;
    top: 90px;
}

.close {
    position: absolute;
    right: 10px;
    color: white
}

.left-text {
    margin-top: 100px;
    margin-left: 8px;
}

.left-text li {
    list-style: none;
    margin-top: 16px;
}

.left-text li a {
    text-decoration: none;
    color: whitesmoke;
}

.icons-bottom li a {

    text-decoration: none;
    color: whitesmoke;
}

.icons-bottom li {
    list-style: none;
    margin-top: 16px;
    margin-left: 10px;
    float: left;
}

.icons-bottom {
    position: absolute;
    bottom: 10px;
}