*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
}

.box {
    height: 200px;
    width: 200px;
    background-color: red;
    transition: all 1.5s ease;
    /* transition: transform 2.5s cubic-bezier(0.42, 0.03, 0.2, 1), background-color 1.5s ease, border-radius 0.5s ease; */
}

/* .box:hover {
    background-color: pink;
    border-radius: 50%;
    transform: rotate(250deg);
} */

/* .box2 {
    height: 100px;
    width: 200px;
    background-color: lightblue;
    transition: all 1.5s ease;
}

.box2:active {
    transform: rotateY(255deg) rotateX(45deg);
} */

/* .box:active {
    background-color: blue;
    border-radius: 50%;
} */

.box2 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    border: 4px solid black;
    border-top-color: green;
    border-bottom-color: red;
    border-right-color: blue;
    border-left-color: purple;
    transition: all 1.5s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.61 29.21%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);

}

.box2:hover {
    transform: translateY(100px) rotate(55deg) scale(0.5);
    /* transform: translate(10px, -100px) rotate(300deg); */
}