* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100%;
    border: 6px solid black;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box {
    height: 100%;
    width: 100%;
    /* border: 4px solid blue; */
}

.box1 {
    background-color: orange;
    grid-column: 3/6;
    grid-row: 2/3;
}

.box2 {
    background-color: pink;
    grid-column: 1/3;
    grid-row: 1/3;
}

.box3 {
    background-color: gray;
}

.box4 {
    background-color: darkblue;
}

.box5 {
    background-color: green;
    grid-area: 3/2/4/6;
}

.box6 {
    background-color: beige;
    grid-row: 3/4;
}

.main-test {
    height: 100vh;
    width: 100%;
    background-color: lightgray;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.test-box {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    background-color: khaki;
}



.test-box1 {
    background-color: orange;
    grid-row: 1/3;

}

.test-box2 {
    background-color: pink;
    grid-column: 2/4;

}

.test-box3 {
    background-color: gray;
    grid-column: 4/7;
}

.test-box4 {
    background-color: darkblue;
    grid-row: 2/4;
}

.test-box5 {
    background-color: green;
    grid-row: 2/4;
    grid-column: 3/6;

}

.test-box6 {
    grid-column: 2/5;
    background-color: beige;

}

.test-box7 {
    background-color: salmon;

}

.test-box8 {
    background-color: forestgreen;
    grid-row: 3/5;
}

.test-box9 {
    background-color: aquamarine;
    grid-row: 2/6;
    grid-column: 6/7;
}