* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* 
span {
    color: red;
    font-size: 40px;
}


img {
    height: 200px;
    float: left;
    margin: 10px;
} */

/* 
#p3 {
    clear: left;
}

#p2 {
    clear: left;
} */

/* 
body {
    height: 400vh;
}



.main {
    height: 50vh;
    width: 50vw;
    background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
}

.box {

    height: 500px;
    width: 600px;
    background-color: red;

}


.box1 {
    background-color: blue;
    height: 100%;
    width: 50%;
}

h1 {
    letter-spacing: 3ch;
} */


nav {
    background-color: #6CB4EE;
}

ul {
    overflow: hidden;
}

li {
    float: left;
    margin: 12px;
    list-style: none;
}



li a {
    text-decoration: none;
    color: #003262;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

li:hover {
    background-color: red;
}


a:hover {
    color: white;
    font-size: 18px;
}