*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

body {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    border-radius: 8px;
    height: 650px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.397);
    backdrop-filter: blur(12px);
    box-shadow: inset 5px 5px 14px 1px #5f5757,
        inset -5px -5px 14px 1px #ffffff;
}

/* img {
    height: 400px;
}

img:first-child {
    filter: blur(6px);
}

img:nth-of-type(2) {
    filter: brightness(1.5);
}

img:nth-of-type(3) {
    filter: contrast(1.5);
} */